.stat {
    width: 100%;
    padding: 30px;
    color: white;
    background-color: rgb(48, 124, 211);
}

.line-left {
    border-left: solid white 1px;
}

.line-right {
    border-right: solid white 1px;
}